In [8]:
using VCFTool

## read_vcf

In [ ]:
vcf_738 = read_vcf("../input/738_variants_copy.vcf.gz")

In [ ]:
vcf_example = read_vcf("../input/example.vcf.gz")

In [ ]:
vcf_to_use = vcf_738

In [ ]:
using DataFrames

vcf_to_use.ALT

In [ ]:
names(vcf_to_use)

In [6]:
size(vcf_to_use)

(11, 15)

In [7]:
vcf_to_use[3:5, :]

3×15 DataFrame
 Row │ #CHROM  POS    ID       REF     ALT     QUAL   FILTER  INFO             ⋯
     │ String  Int64  String   String  String  Int64  String  String           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 1          30  1:30     C       A         100  PASS    NS=6;AC=0;AN=12; ⋯
   2 │ 1          40  1:40     A       C         100  PASS    NS=6;AC=0;AN=12;
   3 │ 1       10000  1:10000  G       C         100  PASS    NS=6;AC=0;AN=12;
                                                               8 columns omitted

In [ ]:
using Query, DataFrames

x = @from i in vcf_738 begin
    @where i.Column2=13284
    @collect Dict
end

println(x)

## Understanding Query.jl

In [ ]:
df = DataFrame(name=["John", "Sally", "Kirk"], age=[23., 42., 59.], children=[3,5,2])

In [ ]:
df.column

In [ ]:
using Query, DataFrames

x = @from i in df begin
    @where i.age>50
    @select {i.name, i.children}
    @collect Dict
end

println(x)