In [1]:
using VCFTool

┌ Info: Precompiling VCFTool [8f8d80d9-e796-45a3-8ef2-c0461a3110a4]
└ @ Base loading.jl:1278

## read_vcf

In [2]:
vcf_738 = read_vcf("../input/example.vcf.gz")

11×15 DataFrame
 Row │ #CHROM  POS    ID       REF     ALT     QUAL   FILTER  INFO             ⋯
     │ String  Int64  String   String  String  Int64  String  String           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 1          10  1:10     A       T         100  PASS    NS=5;AC=0;AN=10; ⋯
   2 │ 1          20  1:20     G       C         100  PASS    NS=0;AC=0;AN=0
   3 │ 1          30  1:30     C       A         100  PASS    NS=6;AC=0;AN=12;
   4 │ 1          40  1:40     A       C         100  PASS    NS=6;AC=0;AN=12;
   5 │ 1       10000  1:10000  G       C         100  PASS    NS=6;AC=0;AN=12; ⋯
   6 │ 1       20000  1:20000  T       A         100  PASS    NS=6;AC=12;AN=12
   7 │ 4        5000  4:5000   A       T         100  PASS    NS=6;AC=12;AN=12
   8 │ 4        6000  4:6000   C       T         100  PASS    NS=6;AC=11;AN=12
   9 │ X         800  X:800    A       C         100  PASS    NS=6;AC=12;AN=12 ⋯
  10 │ X         900  X:900    A       T         100  PASS    NS=6;AC=12;AN=12
  11 │ X        1000  X:1000   T       G         100  PASS    NS=5;AC=10;AN=10
                                                               8 columns omitted

In [13]:
using DataFrames

vcf_738."#CHROM"

11-element Array{String,1}:
 "1"
 "1"
 "1"
 "1"
 "1"
 "1"
 "4"
 "4"
 "X"
 "X"
 "X"

In [3]:
using Query, DataFrames

x = @from i in vcf_738 begin
    @where i.Column2=13284
    @collect Dict
end

println(x)

LoadError: LoadError: MethodError: no method matching @from(::LineNumberNode, ::Module, ::Expr)
Closest candidates are:
  @from(::LineNumberNode, ::Module, ::Expr, !Matched::Expr) at /Users/kate/.julia/packages/Query/85Sw7/src/Query.jl:22
in expression starting at /Users/kate/.julia/packages/Query/85Sw7/src/Query.jl:33

## Understanding Query.jl

In [6]:
df = DataFrame(name=["John", "Sally", "Kirk"], age=[23., 42., 59.], children=[3,5,2])

3×3 DataFrame
 Row │ name    age      children
     │ String  Float64  Int64
─────┼───────────────────────────
   1 │ John       23.0         3
   2 │ Sally      42.0         5
   3 │ Kirk       59.0         2

In [8]:
df.column

LoadError: ArgumentError: column name :column not found in the data frame

In [ ]:
using Query, DataFrames

x = @from i in df begin
    @where i.age>50
    @select {i.name, i.children}
    @collect Dict
end

println(x)